project_id = "htwg-cloudapp-hw"
region     = "asia-east1"

# 若你的 Artifact Registry 路徑不同，請改掉
backend_image  = "asia-east1-docker.pkg.dev/htwg-cloudapp-hw/cloud-app-hw-backend/cloud-app-hw-backend:latest"
frontend_image = "asia-east1-docker.pkg.dev/htwg-cloudapp-hw/cloud-app-hw-frontend/cloud-app-hw-frontend:latest"

sql_instance_name = "mysql1141104"
sql_database_name = "appdb"

# 依你的 Readme.md 改環境變數值
backend_env = {
  PORT        = "8080"
  NODE_ENV    = "production"
  DB_HOST     = "127.0.0.1"
  DB_USER     = "root"
  DB_PASSWORD = ""
  DB_NAME     = "appdb"
  DB_PORT     = "3306"

  FIREBASE_API_KEY        = "__FILL_ME__"
  FIREBASE_PROJECT_ID     = "__FILL_ME__"
  FIREBASE_STORAGE_BUCKET = "__FILL_ME__"
}

frontend_env = {
  VITE_API_BASE_URL = "https://cloud-app-hw-backend-XXXXXXXX-asia-east1.run.app"
  NODE_ENV          = "production"
}
